body{
    background: #171c30;
    overflow: hidden;
}
.nav{
    background: gray;
    width: 15%;
    height: 100vh;
    overflow: hidden;
    color:white
}
.nav .container,
.nav .row{
    height: 100%;
}

.home{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    color: white !important;
}
#searchContainer{
    display: none
}
#back{
    color: white
}
.category img{
    width: 160px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px grey;
    object-fit: cover
}
.category .col{
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap
}
.movie{
    position: relative;
    animation-name: movie;
    animation-duration: 2s;
}
@keyframes movie{
    from{
        transform: scale(0);
        opacity: 0
    }
    to{
        transform: scale(1);
        opacity: 1
    }
}
.movie .container-fluid,
.movie .row{
    height: 100%;
    align-items: flex-end
}
.movie #star{
    color: gold;
    text-shadow: 2px 2px 5px black
}
.movie #trailer{
    color: red;
    text-shadow: 2px 2px 5px black;
}
.movie #imdb{
    color: goldenrod;
    text-shadow: 2px 2px 5px black
}
.movie #trailer:hover,
.movie #imdb:hover{
    cursor: pointer;
    transition: .3s;
    transform: scale(1.5)
}
.movie .overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    transition: .3s
}
.movie .overlay:hover{
    background: rgba(0, 0, 0, 0)
}